tmp/*
[Cc]onfig/core.php
[Cc]onfig/database.php
Controller/Component/empty
Model/AppModel.php
View/Common/sidebar.ctp
View/Helper/AppHelper.php
View/Layouts/flash.ctp
View/Records/all.ctp
webroot/apps/
webroot/css/cake.generic.css
webroot/img/template/dn_?o*
!empty
